.nav-logo{
    width: 200px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 1px;
    background: linear-gradient(180deg,#fba4a4,#ffc9fda0 60%);;
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding: 10px 25px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}