.newsletter{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #eca3f1 0%,#7ff7a36c 60%);
    gap: 30px;
}
.newsletter h1{
    color: #454545;
    font-size: 50px;
    font-weight: 600;
}
.newsletter p{
    color:black;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 700px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3e3;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: black;
    font-family: kalam;
    font-size: 15px;
}
.newsletter div button{
    width: 200px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}